@import url(./fonts.css);
@import url(./tailwind.css);

* {
  font-family: "Noto Sans KR";
  letter-spacing: -0.8px;
}
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 4px;
  background-clip: padding-box;
  border: 1px solid #cfcfcf;
}
*::-webkit-scrollbar-track {
  background-color: #e9e9e9;
}

#wrap {
  position: relative;
  width: 100%;
}
